<!DOCTYPE html>
<html>

  <head>
    <link href="components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <script data-require="jquery@2.0.1" data-semver="2.0.1" src="components/jquery/dist/jquery.js"></script>
    <link data-require="animate.css@1.0.0" data-semver="1.0.0" rel="stylesheet" href="components/mine/css/animate.min.css" />
    <script data-require="lodash.js@*" data-semver="2.4.1" src="components/mine/js/lodash.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-animate/angular-animate.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/service_columns.js"></script>
    <script src="js/directive.js"></script>
  </head>

  <body>
    <div ng-app="columns">
      <div class="container">
        <div class="main-container" ng-controller="MainController" >
          <ul ng-class="{'is-dragging': isDragging, 'is-dragging-just-finished': isDraggingJustFinished}" >
            <segment-builder-group-c class="li-group level-0" level="1" data="dataMainGroup"></segment-builder-group-c>
          </ul>
        </div>
      </div>

      <script id="segmentBuilderGroupTplC" type="text/ng-template">
          <li index="0">
          <!-- modal with categories -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center grey" id="myModalLabel"><strong>Column Types</strong></h3>
                  </div>
                  <div class="modal-body clearfix">
                    <div ng-repeat="vtype in varstypes" >
                      <div class="columns col-md-12"><h4 class="subtitle text-center  grey"><strong>{{vtype.type}}</strong></h4></div>
                      <div ng-repeat="type in vtype.elements">
                          <div class="columns col-md-6 h50" ng-hide="type.del == 1">
                            <div class="columns col-md-10">{{type.name}}</div>
                            <div class="columns col-md-2">
                              <div ng-click="addElement(type.type ,type.name, this)" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of modal with categories -->
            <div class="options">
                <span  ng-hide="level == 1" class="glyphicon glyphicon-move" aria-hidden="true"></span>
                <div ng-if="level == 1" class="" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><span class="text-center pull-right">{{dtype}}</span></div>
                <div ng-click="deletePlease({id: data.id})" class="pull-right" ng-if="level > 1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
              </div>
              <ul ng-show="data.elements.length > 0">
                <li ng-repeat="element in data.elements | orderBy:'position' as filteredData track by element.id" class="level-{{ level }}" ng-class="{true:'li-group', false:'li-condition'}[element.type == 'group']">
                  <drop-target ng-if="$index == 0" my-class="first-inside-group" position="0" hide-when-id-after="{{ element.id }}"></drop-target>
                  <div ng-switch="element.type">
                      <div ng-switch-when="group">
                          <segment-builder-element data="element" parent-id="data.id" level="level+1" delete-please="deleteElement(id, this, element, $this)" duplicate-please="duplicateElement(id)"></segment-builder-element>
                          <drop-target my-class="after-group" position="{{ $index + 1 }}" hide-when-id-before="{{ element.id }}" hide-when-id-after="{{ filteredData[$index+1]['id'] }}"></drop-target>
                            {{element.name}}
                      </div>
                  </div>
                </li>
              </ul>
              <div ng-if="data.elements.length == 0">
                <h4 class="empty-group"></h4>
                <drop-target my-class="group-empty" position="0"></drop-target>
              </div>
            </li>
        </script>
      </div>
    </body>
</html>
